@page "/cashpayment"

<h3>Info</h3>

<PageTitle>Information</PageTitle>

<h1>Information</h1>
<br>
More payment options 
<br>
<br>
To pay by Phone or Post please contact 
<br>
<br>
<p>Who to contact if you want to contest the fine</p>
Phone 0300 790 6113


@code {
  
// Payment Options:

// Credit Card
public void CreditCardPayment(double amount)
{
// implement code for processing credit card payment
}

// Paypal
public void PaypalPayment(double amount)
{
// implement code for processing Paypal payment
}

// Contact Information for Contesting Fines:

// Email
public void ContestFineViaEmail(string email)
{
// implement code for sending an email to contest the fine
}

// Phone
public void ContestFineViaPhone(string phoneNumber)
{
// implement code for calling a customer service representative to contest the fine
}
}