@page "/contactus"

@* <h3>Contact Us</h3> *@

<PageTitle>Contact Us</PageTitle>

<h1>Contact details</h1>

@* <p style="font-family: lato sans serif; color:rgb(10, 120, 205); font-size: 20px;">This text has the font lato, is Blue, and 20px.</p> *@
 @* // INSERT CONTACT DETAILS HERE // *@
<body>
    
    <br />
    <strong>Email :</strong > Support@NIdirect.gov
    <br />
    <br />
    <strong>Information Assitant :</strong > 01632 960877
    <br />
    <br />
    <strong>Technical support :</strong > 01632 960567
    <br />
    <br />
    <strong>Accessability Assistant :</strong > 01632 960339
    <br />
    <br />
    <strong>Language Assitant :</strong > 01632 960560
    <br />
    <br />
    <strong>Mailing Address :</strong > Telephone House, 45-75 May Street, Belfast BT1 4NB




</body>



@code {
  
}
