@page "/faq"

@* <h3>FAQ</h3> *@

<PageTitle>Frequently Asked Questions</PageTitle> @*Previously said "Contact us" - greg*@

<h1>Frequently Asked Questions </h1>

@* // INSERT FAQs here // *@
<body>
    
    <br />
    <strong>What methods are availiable for paying my fine? :</strong > 
    <br />
    There are a few methods for paying your fine, online, over the phone, in person or in the mail.
    <br />
    <br />
    <strong>What do I need to pay my fine? :</strong > 
    <br />
    All you need is the account details for your fine and a method of payment.
    <br />
    <br />
    <strong>Do I need to enter my email address? :</strong >
    <br />
    Entering your email address is optional, however we cannot send you a digital receipt without.
    <br />
    <br />
    <strong>How can i check if I have already paid my fine? :</strong > 
    <br />
    You can check if a fine has been paid by entering the details through our "pay online" page.
    <br />
    <br />
    <br />
    <br />
   <strong> FOR MORE INFORMATION PLEASE <a href="http://localhost:5288/contactus">CONTACT US</a></strong>
    




</body>
@code {
  
}
