
@page "/finedetails" 

@inject NavigationManager NavigationManager;


<PageTitle>FineDetails</PageTitle>

<h1>Input Fine Details</h1>


<form>
  <label for="casereference">Case Reference:</label><br>
  <input type="text" id="casereference" name="casereference"><br>
  <label for="onlineaccountID">Online Account Reference:</label><br>
  <input type="text" id="onlineaccountID" name="onlineaccountID">
</form>

<img src="finenotice75.png" class="mx-auto d-block"><br>

<div class="alert alert-danger">
  <strong>Warning!</strong> Indicates a successful or positive action.
</div>

<button class="btn btn-primary" @onclick ="GoBack">BACK</button> 

<button class="btn btn-secondary" @onclick ="GoTo" id="right-button" >NEXT</button> 


@code {
    
    
    private void GoBack()
    {
        NavigationManager.NavigateTo("/", true); 
    }
    
    private void GoTo()
    {
        NavigationManager.NavigateTo("/finepayment", true); 
    }
}



