@layout HiddenLayout
@page "/finedetails" 

@inject NavigationManager NavigationManager
@inject IFinePaymentService finePaymentService
@using FinePaymentManagement


<PageTitle>FineDetails</PageTitle>

<h1>Input Fine Details</h1>
<br>


<EditForm Model=@formItems OnValidSubmit=@HandleValidSubmit>
    <DataAnnotationsValidator />

    <label>
        Case Reference:        
        <InputText @bind-Value=formItems.CaseReference id="caseref"/>
    </label><br><br>
    <label>
        OnlineAccountReference:
        <InputText @bind-Value=formItems.OnlineAccountReference id="onlineaccountref"/>
    </label><br><br>
    <br>
    <img src="finenotice75.png" class="mx-auto d-block"><br>
    <br>
    <button class="btn btn-primary" @onclick=GoBack>CANCEL</button> 

    <button class="btn btn-secondary" type="submit"> NEXT</button>

</EditForm>



@* <div class="alert alert-danger">
  <strong>Warning!</strong> Indicates a successful or positive action.
</div> *@


@code {

    private FineDetailsFormItems formItems = new FineDetailsFormItems();

    private async void HandleValidSubmit()
    {

        // find the FinePayment that corresponds to the formDetails
        // check if PaymentFine exists
        // check is Payment completed
        // forward to payment form

        Console.WriteLine($"Case reference: {formItems.CaseReference}, online account reference: {formItems.OnlineAccountReference}");
        var finePayment = await finePaymentService.SearchFinePayment(formItems.CaseReference,formItems.OnlineAccountReference);

        if (finePayment == null)
        {
            Console.WriteLine("finePayment is null");
        }
        else if (finePayment.PaymentCompleted)
        {
            Console.WriteLine("payment is completed");
            NavigationManager.NavigateTo("/finepaid", true);
        }
        else
        {
            Console.WriteLine("payment is going to proceed.");
            NavigationManager.NavigateTo("/finepayment", true);
        }
    }
    
    private void GoBack()
    {
        NavigationManager.NavigateTo("/", true); 
    }
}



