@layout HiddenLayout
@page "/finedetails" 

@inject NavigationManager NavigationManager
@inject IFinePaymentService finePaymentService
@using FinePaymentManagement


<PageTitle>FineDetails</PageTitle>
<br><br>
<div class="offset-1">
    <h1>Input Fine Details</h1>
</div>
<br>


<EditForm Model=@formItems OnValidSubmit=@HandleValidSubmit>
    <DataAnnotationsValidator />

@* Formatting of input fields and image *@
    
    <div class="col-8 offset-1">
     
     
        <div class="form-group row">
            <div class="col-4">
                <span class ="input-group-text"> Case Reference:</span> 
                <!-- <label>Cardholder label</label> -->
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-8">
                <InputText class="form-control" @bind-Value=formItems.CaseReference id="caseref" />
                <ValidationMessage For="() => formItems.CaseReference" />
            </div>
        </div><br><br>

        <div class="form-group row">
            <div class="col-4">
                <span class ="input-group-text"> Online Account Reference:</span>
                <!-- <label>Cardholder label</label> -->
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-8">
                <InputText class="form-control" @bind-Value=formItems.OnlineAccountReference id="onlineaccountref" />
                <ValidationMessage For="() => formItems.OnlineAccountReference" />
            </div>
        </div><br><br>


        @* Case Reference: 
        <div class="col-6 offset -6">    
        <InputText @bind-Value=formItems.CaseReference id="caseref"/>
        </div>   
    </label><br><br><br>
    <label>

        OnlineAccountReference:
        <div class="col-6 offset -6">  
        <InputText @bind-Value=formItems.OnlineAccountReference id="onlineaccountref"/>
        </div>   
    </label>
    <br><br><br> *@

    <img src="finenotice75.png" class="float-start"><br>

    <br><br><br><br>
    

<br><br>

@* Formatting of buttons *@

        <div class="form-group row">
            <div class="col-3">
                <button class="btn btn-secondary btn-lg form-control" @onclick=GoBack>CANCEL</button> 
            </div>
            <div class="col-3 offset-2">
                <button class="btn btn-primary btn-lg form-control" type="submit"> NEXT</button>              
            </div>
        </div>
    
</div>
</EditForm>


@code {

    private FineDetailsFormItems formItems = new FineDetailsFormItems();

    private async void HandleValidSubmit()
    {
        var finePayment = await finePaymentService.SearchFinePayment(formItems.CaseReference,formItems.OnlineAccountReference);

        if (finePayment == null)
        {
            Console.WriteLine("Could not find payment (for many reasons).");
        }
        else if (finePayment.PaymentCompleted)
        {
            NavigationManager.NavigateTo("/finepaid", true);
        }
        else
        {
            NavigationManager.NavigateTo($"/finepayment/{finePayment.Id}", true);
        }
    }
    
    private void GoBack()
    {
        NavigationManager.NavigateTo("/", true); 
    }
}