@layout HiddenLayout
@page "/finepayment" 

@inject NavigationManager NavigationManager;
    

<PageTitle>FinePayment</PageTitle>

<h1>Payment Details</h1>


<EditForm Model=@formItems OnValidSubmit=@HandleValidSubmit>
    <DataAnnotationsValidator />

    <div class="col-8 offset -1">
    <div class="form-group row">
    <label>
        Cardholders Name:   
        <div class="col-6 offset -6">      
        <InputText @bind-Value=formItems.CardName id="cardname"/>
        </div>
    </label><br><br>
    <label>
        Card Type:
        <div class="dropdown col-6 offset -6">            
        <InputText @bind-Value=formItems.CardType id="cardtype"/>
        </div>
    </label><br><br>
    <label>
        Card Number:
        <div class="col-6 offset -6">    
        <InputText @bind-Value=formItems.CardNumber id="cardnumber"/>
        </div>
    </label><br><br>
    


    @* Not sure how to handle this Date with this EditForm as it requires a string *@
    

    @* <label>
        Expiry Date:
        <InputText @bind-Value=formItems.ExpiryDate id="expirydate"/>
    </label><br><br> *@
    
    <label>
        CSV:
        <div class="col-6 offset -6">    
        <InputText @bind-Value=formItems.Csv id="csv"/>
        </div>
    </label><br><br> 
    </div>
    </div>

    <br>

    @* Formatting buttons *@
    <div class="col-8 offset -1">
    <div class="form-group row">
        <div class="col-4">
        <button class="btn btn-secondary" @onclick=GoBack>CANCEL</button> 
        </div>
        <div class="col-4">
        <button class="btn btn-primary" type="submit"> NEXT</button>
        </div>
        </div>
    </div>
</EditForm>

@* <form>
  <label for="casereference">Case Reference:</label><br>
  <input type="text" id="casereference" name="casereference"><br>
  <label for="onlineaccountID">Online Account Reference:</label><br>
  <input type="text" id="onlineaccountID" name="onlineaccountID">
</form>

<div class="alert alert-danger">
  <strong>Warning!</strong> Indicates a successful or positive action.
</div> *@




@code {
     private PaymentDetailsFormItems formItems = new PaymentDetailsFormItems();

    private async void HandleValidSubmit()
    {

       @* // find the FinePayment that corresponds to the formDetails
        // check if PaymentFine exists
        // check is Payment completed
        // forward to payment form

        var paymentDetails = await finePaymentService.SearchFinePayment(formItems.CaseReference,formItems.OnlineAccountReference);

        if (finePayment == null)
        {
            // doesn't exist -> details wrong?
        }
        else if (finePayment.PaymentCompleted)
        {
            // payment already done
        }
        else
        {
            // proceed to payment -> Navigate
        } *@
    } 
    private void GoBack()
    {
        NavigationManager.NavigateTo("finedetails", true); 
    }
    
    private void GoTo()
    {
        NavigationManager.NavigateTo("/paymentconfirmation", true); 
    }
}