@layout HiddenLayout
@page "/finepayment/{Id}"
@inject IFinePaymentService finePaymentService
@inject NavigationManager NavigationManager;
    

<PageTitle>FinePayment</PageTitle>
<br>
<div class="col px-3">
<h1>Payment Details</h1>
<br>
<h3> Amount to be paid: £@amount </h3>
<br>
</div>

<EditForm Model=@formItems OnValidSubmit=@HandleValidSubmit>
    <DataAnnotationsValidator />

<div class="container-fluid">
        <div class="form-group row">
            <div class="col">
                <span class ="input-group-text" style="max-width: 592px">
                    Cardholders Name:
                </span> 
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                 <InputText class="form-control" style="max-width: 592px" @bind-Value=formItems.CardName id="cardname"/> 
            </div>
        </div>
    
     <br><br>
    
        <div class="form-group row">
            <div class="col">
                <span class ="input-group-text" style="max-width: 592px"> Card Type:</span> 
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col">
                 <InputText class="form-control" style="max-width: 592px" @bind-Value=formItems.CardType id="cardtype"/> 
            </div>
        </div><br><br>

       <div class="form-group row">
            <div class="co">
                <span class ="input-group-text" style="max-width: 592px">
                    Card Number:
                </span> 
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col">
                 <InputText class="form-control" style="max-width: 592px" @bind-Value=formItems.CardNumber id="cardnumber"/> 
            </div>
        </div><br><br>

        <div class="form-group row">
            <div class="col">
                <span class ="input-group-text" style="max-width: 592px">
                    Security Code:
                </span> 
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col">
                 <InputText class="form-control" style="max-width: 592px" @bind-Value=formItems.Ccv id="ccv"/> 
            </div>
        </div><br>

    
    

    <br>
 @* Formatting buttons *@

        <div class="form-group row justify-content-start">
            <div class="col">
                <div class="d-flex" style="max-width: 592px">
                    <button class="btn btn-secondary btn-lg form-control mx-3" type="button" @onclick="GoBack">
                        CANCEL
                    </button>
                    <button class="btn btn-primary btn-lg form-control mx-3" type="submit">
                        PAY
                    </button>
                </div>
            </div>
        </div>
</div>

</EditForm>


@code {

    [Parameter]
    public string? Id { get; set; }
    public float amount { get; set; }
    public string? caseRef {get; set; }
    private PaymentDetailsFormItems formItems = new PaymentDetailsFormItems();
    
    protected override async Task OnInitializedAsync()
    {
        var finePayment = await finePaymentService.GetFinePayment(long.Parse(Id));
        if (finePayment == null)
        {
            NavigationManager.NavigateTo("/", true); 
        }
        else
        {
            caseRef = finePayment.CaseReference;
            amount = finePayment.Amount;
        }
    }
   
    private void HandleValidSubmit()
    {
       NavigationManager.NavigateTo($"paymentconfirmation/{Id}", true); 
    } 
    private void GoBack()
    {
        NavigationManager.NavigateTo("/", true); 
    }
}