@page "/"
@inject NavigationManager NavigationManager;

<PageTitle>TVLicensefine</PageTitle>


<h1>TV License Fine Payment</h1>
<br><br>
This is a page to pay your Northern Ireland TV license fine.
<br><br>

<button class="btn btn-primary" @onclick ="GoTo" id="right-panel-link" >Pay Online</button> 
<button class="btn btn-primary" @onclick ="PostPay" id="right-panel-link" >Pay by Post</button> 
<br><br>
<button class="btn btn-primary" @onclick ="PhonePay" id="right-panel-link" >Pay by Phone</button> 
<button class="btn btn-secondary" @onclick ="CashPay" id="right-panel-link" >Pay in Cash</button> 

@code {
    
    
    private void GoTo()
    {
        NavigationManager.NavigateTo("finedetails", true); 
    }
    private void PhonePay()
    {
        NavigationManager.NavigateTo("phonepayment", true); 
    }
    private void PostPay()
    {
        NavigationManager.NavigateTo("postalpayment", true); 
    }
    private void CashPay()
    {
        NavigationManager.NavigateTo("cashpayment", true); 
    }
}
