@page "/"
@inject NavigationManager NavigationManager;

<PageTitle>TVLicensefine</PageTitle>


<h1>TV License Fine Payment</h1>
<br><br>
<h3>This is a page to pay your Northern Ireland TV license fine.</h3>
<br><br>


<div class="col-8 offset -1"> 
    <div class="form-group row">
        <div class="col-12">
        <button class="btn btn-primary form-control btn-lg" @onclick ="GoTo" id="right-panel-link" >Pay Online</button>
        <br><br>
        </div>
    
        <div class="col-12">
        <button class="btn btn-secondary form-control btn-lg" @onclick ="PostPay" id="right-panel-link" >Pay by Post</button>
        <br><br>
        </div>
        
        <div class="col-12">
        <button class="btn btn-primary form-control btn-lg" @onclick ="PhonePay" id="right-panel-link" >Pay by Phone</button> 
        <br><br>
        </div>
        
        <div class="col-12">
        <button class="btn btn-secondary form-control btn-lg" @onclick ="CashPay" id="right-panel-link" >Pay in Cash</button>
        </div>
    </div>
</div>

@code {
    
    
    private void GoTo()
    {
        NavigationManager.NavigateTo("finedetails", true); 
    }
    private void PhonePay()
    {
        NavigationManager.NavigateTo("phonepayment", true); 
    }
    private void PostPay()
    {
        NavigationManager.NavigateTo("postalpayment", true); 
    }
    private void CashPay()
    {
        NavigationManager.NavigateTo("cashpayment", true); 
    }
}
