@page "/"
@inject NavigationManager NavigationManager;

<PageTitle>TVLicensefine</PageTitle>

<h1>TV License Fine Payment</h1>

This is a page to pay your Northern Ireland TV license fine.
<br>

<button class="btn btn-primary" @onclick ="GoTo" id="right-panel-link" >START</button> 

@code {
    
    
    private void GoTo()
    {
        NavigationManager.NavigateTo("/finedetails", true); 
    }
}
