@page "/Paybyphone"

<h3>Pay By Phone</h3>

<PageTitle>Pay By Phone</PageTitle>

<h1>To Pay By Phone</h1>
<br>
If you would like pay the the fine amount over the telephone you can do this
with a debit or credit card.
<br>
<br>
You need your case reference number to pay.
<br>
Contact:
Phone
028 9072 8894
Email
courtfundsoffice@courtsni.gov.uk

<h3>Help paying a court fine</h3>

<p>If you’re finding it difficult to pay your financial penalty, contact the Fine Collection and Enforcement Service.  </p>