@page "/paymentconfirmation" 

@inject NavigationManager NavigationManager;

<PageTitle>PaymentConfirmation</PageTitle>

<h1>Payment Confirmation</h1>


<form>
  <label for="casereference">Case Reference:</label><br>
  <input type="text" id="casereference" name="casereference"><br>
  <label for="onlineaccountID">Online Account Reference:</label><br>
  <input type="text" id="onlineaccountID" name="onlineaccountID">
</form>

<div class="alert alert-danger">
  <strong>Warning!</strong> Indicates a successful or positive action.
</div>

<button class="btn btn-primary" @onclick ="GoBack">RETURN TO HOME </button> 




@code {
    
        private void GoBack()
    {
        NavigationManager.NavigateTo("/", true); 
    }
    
    
}