@page "/paymentconfirmation/{Id}"

@inject NavigationManager NavigationManager
@inject IFinePaymentService finePaymentService

<PageTitle>Payment confirmation</PageTitle>

<h3>Payment Confirmation</h3>

<p> Payment Reference: @paymentRef </p>


@code {
    [Parameter]
    public string? Id { get; set; }

    public float amount { get; set; } // delete if not needed
    public string? caseRef { get; set; } // delete if not needed
    public string? paymentRef { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var finePayment = await finePaymentService.GetFinePayment(long.Parse(Id));
        caseRef = finePayment.CaseReference;
        amount = finePayment.Amount;
        finePayment.PaymentCompleted = true;
        finePayment.PaymentDate = DateTime.Now;
        paymentRef = GeneratePaymentReference(18);
        finePayment.PaymentReference = paymentRef;
        await finePaymentService.SetFinePayment(finePayment);
        Console.WriteLine($"Payment processed: {finePayment.PaymentCompleted} - {finePayment.PaymentDate} - {finePayment.PaymentReference}");
    }
    
    private void GoBack()
    {
        NavigationManager.NavigateTo("/", true); 
    }

    private string GeneratePaymentReference(int length)
    {
        string str = "0123456789";
        string result = System.String.Empty;
        var rnd = new Random();

        for (int i=0; i<length; i++) {
            result += str[rnd.Next(str.Length)];
        }

        return result;
    }    
}