@page "/postalpayment"
@inject NavigationManager NavigationManager;
    

<PageTitle>PostalPayment</PageTitle>

<h1>To Pay By Post</h1>

<br>
If you would like pay the the fine amount through Postal service you can do this<br>
by sending a crossed cheque to <strong> <a href="https://www.nidirect.gov.uk/contacts/northern-ireland-courts-and-tribunals-service-customer-service-centre">NI Courts and Tribunals Service’ to the Customer Service</a></strong>
<p>PO Box 256</p>
<p>Londonderry</p>
<p>United Kingdom</p>
<h3>Help paying a court fine</h3>
<p>If you’re finding it difficult to pay your financial penalty, contact the<strong><a href="https://www.justice-ni.gov.uk/articles/fine-collection-and-enforcement-service"> Fine Collection and Enforcement Service.</strong></a>  </p>
<br>
<h3>Help paying a court fine</h3>
<p>If you’re finding it difficult to pay your financial penalty, contact the<strong><a href="https://www.justice-ni.gov.uk/articles/fine-collection-and-enforcement-service"> Fine Collection and Enforcement Service.</stron></a> </p>
<br>
<h3>Who to contact if you want to contest the fine</h3>
<p>If you would like to appeal a fine then you must contact the <strong>Northern Ireland Courts and Tribunals Service - Customer Service Centre
Contact details</strong> for the Northern Ireland Courts and Tribunals Service Customer Service Centre.</p>
<p>The Customer Service Centre can help you with queries about jury service and also the payment of Covid and Court Fines before 28 days.</p>
<br>
PO Box 256
<br>
Londonderry
<br>
United Kingdom
<br>
Phone: 0300 200 7812
<br>
Email: customerservicecentre@courtsni.gov.uk

<br>
<br>


 <button class="btn btn-primary" @onclick=GoBack>Return to Home Page</button> 

@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/", true); 
    }
}
